@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";
@theme {
    --color-primary: #f84565;
    --color-primary-dull: #d63854;
}

* {
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body {
    color: white;
    background-color: #09090b;
}

.no-scrollbar {
    scrollbar-width: none;
}


/* Ẩn mũi tên lên/xuống (spin button) trong ô input number và datetime */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Đổi màu icon cuốn lịch từ Đen sang Trắng (invert) để thấy rõ trên nền tối */

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}